#App{
  width: 100%;
  height: 100%;
  font-family: Roboto;

  background-color: rgba(0, 0, 0, 0.1);

}

#App-Header{
  width: 100%;
  height: 10%;
  padding-top: 2.5%;
  text-align: center;

  color: white;
  background-color: rgba(0, 0, 0, 0.5);

}

#App-Body{
  width:  100%;
  height: 80%;
  border: none;
}

#Body-Stats{
  width: 100%;
  height: 100%;
}

/**
* WL Record
**/

#Stats-WL{
  height: 20%;
  width: 100%;

  padding-top: 2.5%;

}

#Stats-WL-Header{
  display: flex;
}

.WL-Stats-Elem{
  width: 50%;
  text-align: center;
}


/**
* SR STYLING
**/

#Stats-SR{
  width: 100%;
  height: 80%;
}


#SR-Header{
  width: 100%;
  height: 20%;
  display: flex;
}

#SR-Body{
  width: 100%;
  height: 80%;
}

.Stats-Row{
  width: 100%;
  height: 30%;

  display: flex;
}


.Stats-Title, .Stats-Stat{
  width: 50%;
  text-align: center;
}




/**
* MISC
**/

body{
  margin: 0;

  background-color: grey;
}
